body {
  font-family: arial, verdana, sans-serif;
}

ul {
  text-decoration: none;
  border: 1em #CCC solid;
}

div {
  height: 50px;
  width: 50px; 
}

img {
  height: 100%;
  width: 100%;
}

#first {
  color: blue;
}
